.Alerts {
    text-align: center;
    position: relative;
}

.alertButton {
    width: 8rem;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#activeAlerts {
    width: 10%;
}

.acceptButton {
    color: #fff;
    background-color: #66cc66;
}

.acceptButton:hover {
    background-color: #33cc33; 
}

.cancelButton {
    background-color: #ff9966; 
    color: #000000;
}

.cancelButton:hover {
    background-color: #ff6633; 
}

.boxButtonsAlerts {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-around;
}

#upcoming {
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
}