body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 18.5rem;
  height: 23rem;
  background-color: #ffeedd; /* Naranja tirando a beige */
  border: solid 1px rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 17.5rem;
  height: 22rem;
  margin-top: 0.5rem;
}

.app {
  width: 100%;
  height: 100%;
}
